<a href="https://colab.research.google.com/github/pornpailinjanjit/data_viz/blob/main/Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os

path = ('/content/drive/My Drive/dataviz_pandas/covid19cases.csv')

In [ ]:
data1 = pd.read_csv(path)
data1.head()

   No. announce_date  ... province_of_onset district_of_onset
0    1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1    2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2    3     22/1/2020  ...            นครปฐม             เมือง
3    4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4    5     24/1/2020  ...     กรุงเทพมหานคร               NaN

[5 rows x 11 columns]

In [ ]:
data2 = pd.read_excel('/content/drive/My Drive/dataviz_pandas/passenger-covid19 (1).xlsx')
data2.head()

  ขนคน/ขนสินค้า โหมดการเดินทาง  ...   พ.ย. 2562   ธ.ค. 2562
0     ขนคน (คน)          ทางบก  ...   4559610.0   4840673.0
1     ขนคน (คน)          ทางบก  ...         NaN         NaN
2     ขนคน (คน)          ทางบก  ...   2450888.0   2516032.0
3    ขนคน (คัน)          ทางบก  ...  28325020.0  29615013.0
4    ขนคน (คัน)          ทางบก  ...  46996660.0  47294111.0

[5 rows x 18 columns]

หนูลองทำแล้วนะคะไม่ใช่ว่าไม่ทำแต่หนูทำไม่ได้เลยไม่มีส่งค่ะ
ขอโทษด้วยนะคะที่เรียนวิชานี้แล้วทำข้อสอบไม่ได้ หนูเข้าเรียนทุกคาบนะคะ แต่หนูไม่เข้าใจเพราะไม่มีพื้นฐานและเหมือนกับว่าหนูมันไม่ใช่ทางที่หนูทำได้
ตอนที่ฟังอาจารย์สอนก็เข้าใจสิ่งที่อาจารย์สอนนะคะ พอประยุกต์เองก็คือไม่ได้เลย แต่ที่หนูเลือกวิชานี้เพราะหนูอยากลองเรียนสิ่งใหม่ในสาขาวิชา 
สอบมิดเทอมหนูดึงข้อมูลมาไม่ได้ ตอนนี้หนูดึงข้อมูลเข้าได้แล้วหนูก็ภูมิใจค่ะการที่ได้เรียนในวิชานี้ก็ถือเป็นเรื่องที่แปลกใหม่สำหรับหนูหนูอาจจะได้นิดหน่อยแต่ไม่ได้ทั้งหมดในวิชาที่เรียนขอบคุณอาจารย์นะคะที่เปิดสอนรายวิชานี้