<a href="https://colab.research.google.com/github/pornpailinjanjit/data_viz/blob/main/Function_loop_condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = 'พรไพลิน'
surname = 'จันทร์จิตร'
ID = '613020193-8'
b= f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

ชื่อ พรไพลิน นามสกุล จันทร์จิตร รหัส 613020193-8

## Fungtion

## fungtion template
 ## ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
 ## f(x)=y

### def คือการกำหนดฟังก์ชัน

```python 
     def funtion_name(_Input_) :
       do_something with _Input_ to get _Output_
       return _output
```

backtick (`)
tilde (~)
curly bracket ({})
square bracket ([])

funtion มีส่วนสำคัญทั้งหมด 4 ส่วน
 1. บอกpython ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร ```def function_name() :```
 (ขาดไม่ได้)
 2. กำหนดตัวแปรที่จะเป็น input ```_Input_``` (ขาดได้)
 3. ส่วนประมวลผล  ```do_something with _Input_ to get _Output_ ```(ขาดไม่ได้)
 4. ส่วน Output ```return _Output_ ``` (ขาดได้)

ตัวอย่างการเขียน normal function

In [ ]:
def print_name(name,surname,ID):
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  print(st)

In [ ]:
print_name('ทันเทพ','64xxxxxxxx','สลิลทิพย์')

ชื่อ ทันเทพ นามสกุล 64xxxxxxxx รหัส สลิลทิพย์

In [ ]:
print(print_name(name='พรไพลิน',surname='จันทร์จิตร',ID='613020193-8'))

ชื่อ พรไพลิน นามสกุล จันทร์จิตร รหัส 613020193-8
None

ขอสังเกต python กับภาษา c มันจะไม่มี{}เปิด-ปิด  pyhton 
## จะเว้นวรรค(indent) แทนเพื่อบอกขอบเขตของโปรแกรม

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_name2(surname,ID,name):
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  print (st)

In [ ]:
print_name2(name='พรไพลิน',surname='จันทร์จิตร',ID='613020193-8')

ชื่อ พรไพลิน นามสกุล จันทร์จิตร รหัส 613020193-8

เราสามารถเพิ่มคำสั่งเข้าไปในฟังก์ชั่นอีกได้ โดยการเปลี่ยน คำสั่ง return เป็น prinnt ()ได้ เช่นตัวอย่างนี้ ได้ทำการเพิ่ม st2= f'เกรดวิชา

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def pi():
  return 3.14159265359

In [ ]:
2*pi()*2

12.56637061436

In [ ]:
pi()*(2**2)  ##หาพื้นที่วงกลมที่มีรัศมเท่ากับ pi * r^2

12.56637061436

##เราสามารถกำหนดค่า default ให้กับฟันก์ชั่นได้

ค่า default คือค่าที่เราไม่กรอกอะไรก็จะเป็นค่านั้น

In [ ]:
def print_2lines_default(name,surname,ID,grade='F') : ##print_2lines แปลว่าprint2บรรทัด
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  print (st)
  st2=f'เกรดวิชา Data Viz >>> {grade}'
  print(st2)

In [ ]:
print_2lines_default('พรไพลิน','จันทร์จิตร','613020193-8')

ชื่อ พรไพลิน นามสกุล จันทร์จิตร รหัส 613020193-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('พรไพลิน','จันทร์จิตร','613020193-8','A')

ชื่อ พรไพลิน นามสกุล จันทร์จิตร รหัส 613020193-8
เกรดวิชา Data Viz >>> A

##จากการบ้าน คาบที่1 covid

ให้สร้างฟังก์ชั่นคำนวณเวลาเป็นวินาทีของเวลาใดๆ และ print ออกมาให้สวบงาม

In [ ]:
def Time_a(Time) :
  pt = Time.split(':')
  s = pt[0]
  b = pt[1]
  c = pt[2]
  total_s = int(s)*60*60+int(b)*60+int(c)
  t_s = f'{Time} = {total_s} s'
  print(t_s)

In [ ]:
Time_a('12:30:15')
Time_a('13:41:07')
Time_a('12:53:15')
Time_a('00:59:25')
Time_a('11:11:11')
Time_a('16:06:09')

12:30:15 = 45015 s
13:41:07 = 49267 s
12:53:15 = 46395 s
00:59:25 = 3565 s
11:11:11 = 40271 s
16:06:09 = 57969 s

ให้ สร้าง list ของเวลา... แล้ววนลูปเรียกฟังก์ชั่นคำนวณเวลาเป็น วินาที่
commit ว่า HW3 หมดเวลา เที่ยงคืนวันจันทร์

In [ ]:
list_timez = ['12:30:15', '13:41:07', '12:53:15', '00:59:25', '11:11:11', '16:06:09']

In [ ]:
for z in list_timez :
  t1 = z.split(':')
  s = t1[0]
  b = t1[1]
  c = t1[2]
  total_s = int(s)*60*60+int(b)*60+int(c)
  t_s = f'{z} = {total_s} s'
  print(t_s)

12:30:15 = 45015 s
13:41:07 = 49267 s
12:53:15 = 46395 s
00:59:25 = 3565 s
11:11:11 = 40271 s
16:06:09 = 57969 s

### LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop โดย for จะวนดึงสมาชิกจาก listaA มาทำ process do_someting

In [ ]:
for i in [1,2,3] :
  print (f'this member = {i} after process = {i**2}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

In [ ]:
for i in [1,2,3] :
  o = i**2
  print (f'this member = {i} after process = {i**2}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

ตัวอย่างการใช้คำสั่ง for

In [ ]:
for i in 'pornpailin':
    print(f'{i} -> / ')

p -> /
o -> /
r -> /
n -> /
p -> /
a -> /
i -> /
l -> /
i -> /
n -> /

In [ ]:
for i in 'pornpailin':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

p -> / o -> / r -> / n -> / p -> / a -> / i -> / l -> / i -> / n -> /

# สร้าง list ตัวเลขแบบอัตโนมัติ range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))  #เริ่มต้นแต่-3 ไปถึง20แต่ไม่เอา20 โดยเว้น4ตัว

[-3, 1, 5, 9, 13, 17]

## loop in loop
สามารถช้ for loop ซ้อนกันสองรอบได้

In [ ]:
for name1 in range(2,5): #จะรัน(2, 3 ,4)
    for name2 in range(1,13):
        print(name1,'x',name2,' = ',name1*name2)

2 x 1  =  2
2 x 2  =  4
2 x 3  =  6
2 x 4  =  8
2 x 5  =  10
2 x 6  =  12
2 x 7  =  14
2 x 8  =  16
2 x 9  =  18
2 x 10  =  20
2 x 11  =  22
2 x 12  =  24
3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27
3 x 10  =  30
3 x 11  =  33
3 x 12  =  36
4 x 1  =  4
4 x 2  =  8
4 x 3  =  12
4 x 4  =  16
4 x 5  =  20
4 x 6  =  24
4 x 7  =  28
4 x 8  =  32
4 x 9  =  36
4 x 10  =  40
4 x 11  =  44
4 x 12  =  48

In [ ]:
for name1 in range(2,5): #จะรัน(2, 3 ,4)
    print(f'now name1 = {name1}')
    for name2 in range(1,13):
        print(name1,'x',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
2 x 1  =  2
2 x 2  =  4
2 x 3  =  6
2 x 4  =  8
2 x 5  =  10
2 x 6  =  12
2 x 7  =  14
2 x 8  =  16
2 x 9  =  18
2 x 10  =  20
2 x 11  =  22
2 x 12  =  24
the inner loop is end
now name1 = 3
3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27
3 x 10  =  30
3 x 11  =  33
3 x 12  =  36
the inner loop is end
now name1 = 4
4 x 1  =  4
4 x 2  =  8
4 x 3  =  12
4 x 4  =  16
4 x 5  =  20
4 x 6  =  24
4 x 7  =  28
4 x 8  =  32
4 x 9  =  36
4 x 10  =  40
4 x 11  =  44
4 x 12  =  48
the inner loop is end

## loop in function
การวนลูปในฟังก์ชั่น

In [ ]:
list_friends = ['พลอย','ซอกจิน','จองกุก','แท']

In [ ]:
def print_feelings(I,friends,feeling = 'คิดถึง') :
    for friend in friends :
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friend = ['พลอย','ซอกจิน','จองกุก','แท']

In [ ]:
print_feelings('พลอย',list_friends)

พลอย คิดถึง พลอย
พลอย คิดถึง ซอกจิน
พลอย คิดถึง จองกุก
พลอย คิดถึง แท

In [ ]:
print_feelings('พลอย',list_friends,feeling='รัก')

พลอย รัก พลอย
พลอย รัก ซอกจิน
พลอย รัก จองกุก
พลอย รัก แท

## True / False
การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```python
if condition1 :
     do something
elif condition2 :
     do another thing
else :
     do ...
```

In [ ]:
print(list_friends)

['พลอย', 'ซอกจิน', 'จองกุก', 'แท']

In [ ]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 != name2:  #ไม่ปริ้นชื่อคนเดียวซ้ำ
            print(name1,'รัก',name2)

พลอย รัก ซอกจิน
พลอย รัก จองกุก
พลอย รัก แท
ซอกจิน รัก พลอย
ซอกจิน รัก จองกุก
ซอกจิน รัก แท
จองกุก รัก พลอย
จองกุก รัก ซอกจิน
จองกุก รัก แท
แท รัก พลอย
แท รัก ซอกจิน
แท รัก จองกุก

In [ ]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2:  #ชื่อคนเดียวซ้ำ
            print(name1,'รัก',name2)

พลอย รัก พลอย
ซอกจิน รัก ซอกจิน
จองกุก รัก จองกุก
แท รัก แท

In [ ]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2:  
             'do nothing'
        else:
            print(name1,'รัก',name2)

พลอย รัก ซอกจิน
พลอย รัก จองกุก
พลอย รัก แท
ซอกจิน รัก พลอย
ซอกจิน รัก จองกุก
ซอกจิน รัก แท
จองกุก รัก พลอย
จองกุก รัก ซอกจิน
จองกุก รัก แท
แท รัก พลอย
แท รัก ซอกจิน
แท รัก จองกุก

==,!=,>=,<=,<,>

In [ ]:
'จองกุก' == 'แท'

False

In [ ]:
'จองกุก' != 'แท'

True

##หากหลังเงื่อนไข True ถูกต้องจะทำการ print ข้อความออกมาว่า yes

# HW
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100), output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

###กำหนด
ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F \
  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D\
  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+\
  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C\
  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+\
  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B\
  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+\
  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A\
  แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

In [ ]:
def student_grade (score) :
    if 0 <= score < 50 :
      print (f'คะแนน = {score} ได้เกรด F')
    elif 50 <=score< 55:
      print (f'คะแนน = {score} ได้เกรด D')
    elif 55 <=score< 60:
      print (f'คะแนน = {score} ได้เกรด D+')
    elif 60 <=score< 65:
      print (f'คะแนน = {score} ได้เกรด C')
    elif 65 <=score< 70:
      print (f'คะแนน = {score} ได้เกรด C+')
    elif 70 <=score< 75:
      print (f'คะแนน = {score} ได้เกรด B')
    elif 75 <=score< 80:  
      print (f'คะแนน = {score} ได้เกรด B+')
    elif 80 <=score< 100:  
      print (f'คะแนน = {score} ได้เกรด A')
    elif score > 100:
      print (f' {score} = error')
    elif score < 0:
      print (f' {score}  = error')

In [ ]:
input = [1,50,65,90,101,-5,49]

In [ ]:
for score in input:
  student_grade(score)

คะแนน = 1 ได้เกรด F
คะแนน = 50 ได้เกรด D
คะแนน = 65 ได้เกรด C+
คะแนน = 90 ได้เกรด A
 101 = error
 -5  = error
คะแนน = 49 ได้เกรด F

In [8]:
def grade (score) :
    if score < 0:
      print (f'คะแนน = {score} กรอก error')
    elif score < 50 :
      print (f'คะแนน = {score} ได้เกรด F')
    elif score< 55:
      print (f'คะแนน = {score} ได้เกรด D')
    elif score< 60:
      print (f'คะแนน = {score} ได้เกรด D+')
    elif score< 65:
      print (f'คะแนน = {score} ได้เกรด C')
    elif score< 70:
      print (f'คะแนน = {score} ได้เกรด C+')
    elif score< 75:
      print (f'คะแนน = {score} ได้เกรด B')
    elif score< 80:  
      print (f'คะแนน = {score} ได้เกรด B+')
    elif score< 100:  
      print (f'คะแนน = {score} ได้เกรด A')
    elif score > 100:
      print (f'คะแนน {score} = error')

In [9]:
input = [-51,1,49,50,65,90,101]

In [10]:
for score in input:
  grade(score)

คะแนน -51  = error
คะแนน = 1 ได้เกรด F
คะแนน = 49 ได้เกรด F
คะแนน = 50 ได้เกรด D
คะแนน = 65 ได้เกรด C+
คะแนน = 90 ได้เกรด A
คะแนน 101 = error