<a href="https://colab.research.google.com/github/pornpailinjanjit/data_viz/blob/main/pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import os

path = '/content/drive/My Drive/dataviz_pandas'

In [5]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv') 
print(covid_file_path)

/content/drive/My Drive/dataviz_pandas/pm-18-jan-2021.csv

In [6]:
a = path + '/pm-18-jan-2021.csv' 
print(a)

/content/drive/My Drive/dataviz_pandas/pm-18-jan-2021.csv

###load data to memory

In [7]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [9]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [14]:
data_covid.shape

(12423, 10)

# ชี้ค่าในตาราง


basic

In [15]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12418      สมุทรปราการ
12419      สมุทรปราการ
12420           ชลบุรี
12421           ชลบุรี
12422            ระยอง
Name: province_of_onset, Length: 12423, dtype: object

In [16]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

In [17]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

##Table slicing
ตัดมาเฉพาะ column ที่ต้องการ

In [18]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']]
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12418     1/18/2021  ...                                  สถานบันเทิง
12419     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421     1/18/2021  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 3 columns]

#ตัดเฉพาะ rows ที่ต้องการ \
แบบง่าย แต่ใช้การอะไรไม่ค่อยจะได้ (มองเป็น array แล้วตัดแบบ array)

In [95]:
data_covid.iloc[1:5,:]

    sex   age province_of_onset
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic query)

In [93]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น']

        sex   age province_of_onset
180     ชาย  33.0           ขอนแก่น
462    หญิง  36.0           ขอนแก่น
1466    ชาย  19.0           ขอนแก่น
1970   หญิง  70.0           ขอนแก่น
2637   หญิง  63.0           ขอนแก่น
2673    ชาย  68.0           ขอนแก่น
5948   หญิง  32.0           ขอนแก่น
6082   หญิง  36.0           ขอนแก่น
9333    ชาย  17.0           ขอนแก่น
9334    ชาย  20.0           ขอนแก่น
10610   ชาย  17.0           ขอนแก่น
11517   ชาย  12.0           ขอนแก่น
11697  หญิง  17.0           ขอนแก่น
11698  หญิง  37.0           ขอนแก่น

การชี้ค่าในตารางด้วย data_covid[x] ค่า x สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ

ชื่อ column
ใส่ rows ที่ต้องการ (ใส่ list ที่มีขนาดเท่ากับจำนวนแถว แล้วบอกว่าเอา แถวไหนบ้างโดยใช้ logical expression (True/False))

In [89]:
eight_rows_covid = data_covid.iloc[:8,:] # ตารางตัวอย่าง
eight_rows_covid

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร
5  หญิง  33.0     กรุงเทพมหานคร
6  หญิง  57.0     กรุงเทพมหานคร
7  หญิง  73.0   ประจวบคีรีขันธ์

In [90]:
eight_rows_covid[[True,False,True,True,False,True,False,False]]   #2.   ใส่ rows ที่ต้องการ

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
5  หญิง  33.0     กรุงเทพมหานคร

In [91]:
eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร'  #สร้าง list ของ logical expression

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [92]:
eight_rows_covid[eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร']  #เราเอา 2 บรรทัดบนมาบวกกัน

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร
5  หญิง  33.0     กรุงเทพมหานคร
6  หญิง  57.0     กรุงเทพมหานคร

##หาจำนวนผู้ป่วยที่เป็นคน "คนต่างชาติเดินทางมาจากต่างประเทศ"

In [24]:
data_covid[data_covid['risk']=='คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0]

155

HW (ให้ใช้เฉพาะที่อาจารย์สอนไปแล้วในวิชานี้)

1. คำนวณ อายุเฉลี่ย ของผู้หญิง และผู้ชาย ของข้อมูลทั้งหมด
2. คำนวณ อายุเฉลี่ย ของผู้หญิง และผู้ชาย ของผู้ป่วยในจังหวัดขอนแก่น

In [25]:
data_covid= data_covid[['sex','age','province_of_onset']] 
data_covid

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12418  หญิง  28.0       สมุทรปราการ
12419  หญิง  27.0       สมุทรปราการ
12420   ชาย  10.0            ชลบุรี
12421   ชาย  52.0            ชลบุรี
12422   ชาย  51.0             ระยอง

[12423 rows x 3 columns]

In [26]:
def mean_age(sex,province_of_onset = 'all'):
  for i in range(len(data_covid)):
    if province_of_onset == 'all':
      if sex == data_covid['sex'][i]:
        sum_age =+ data_covid['age'][i]
        n=+1
    else:
      if sex == data_covid['sex'][i]:
        if province_of_onset == data_covid['province_of_onset'][i]:
          sum_age =+ data_covid['age'][i]
          n=+1
  return sum_age/n

In [27]:
A = mean_age('หญิง')
print(f' อายุเฉลี่ยผู้หญิงทั้งหมด {A} ปี')

 อายุเฉลี่ยผู้หญิงทั้งหมด 27.0 ปี

In [28]:
B = mean_age('ชาย')
print(f' อายุเฉลี่ยผู้ชายทั้งหมด {B} ปี')

 อายุเฉลี่ยผู้ชายทั้งหมด 51.0 ปี

In [29]:
X = mean_age('หญิง','ขอนแก่น')
print(f' อายุเฉลี่ยผู้หญิงในจังหวัดขอนแก่น {X} ปี')

 อายุเฉลี่ยผู้หญิงในจังหวัดขอนแก่น 37.0 ปี

In [30]:
Y = mean_age('ชาย','ขอนแก่น')
print(f' อายุเฉลี่ยผู้ชายในจังหวัดขอนแก่น {Y} ปี')

 อายุเฉลี่ยผู้ชายในจังหวัดขอนแก่น 12.0 ปี

In [31]:
this_data = data_covid[['sex','age','province_of_onset']]

In [ ]:
this_data

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12418  หญิง  28.0       สมุทรปราการ
12419  หญิง  27.0       สมุทรปราการ
12420   ชาย  10.0            ชลบุรี
12421   ชาย  52.0            ชลบุรี
12422   ชาย  51.0             ระยอง

[12423 rows x 3 columns]

In [32]:
female = this_data[this_data['sex']=='หญิง']
female['age']

0        61.0
1        74.0
2        73.0
4        66.0
5        33.0
         ...
12413    16.0
12416    36.0
12417    29.0
12418    28.0
12419    27.0
Name: age, Length: 5199, dtype: float64

In [33]:
sum = 0
N = 0
for a in female['age']:
    
    if a > 0:
        sum += a # sum = sum + a
        N += 1

print(f'อายุเฉลี่ย ของ ผู้ป่วยหญิง {sum/N}')

อายุเฉลี่ย ของ ผู้ป่วยหญิง 36.70788295640009

In [34]:
female_KK = female[female['province_of_onset']=='ขอนแก่น']

sum = 0
N = 0
for a in female_KK['age']:
    
    if a > 0:
        sum += a # sum = sum + a
        N += 1

print(f'อายุเฉลี่ย ของ ผู้ป่วยหญิง ในจังหวัดขอนแก่น {sum/N}')

อายุเฉลี่ย ของ ผู้ป่วยหญิง ในจังหวัดขอนแก่น 41.57142857142857

การจัดการ Missing Value
 - ลบ record ที่เป็น missing
 - แทนที่ ค่า missing ด้วยค่าที่เหมาะสม mean, default
 - ใช้ ค่าจาก colum อื่น ช่วยประมาณค่า ค่าใน colum ที่หายไป (regressing, deep learning, etc.)

## ลบ record (dropna)
missing = None NA(not autorized) NaN (not a number)

In [35]:
this_data.shape #(12423, 3)

(12423, 3)

In [36]:
print(data_covid.shape)
print(data_covid.dropna().shape)

(12423, 3)
(8253, 3)

In [37]:
this_data.dropna().shape

(8253, 3)

In [38]:
this_data.dropna()

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12418  หญิง  28.0       สมุทรปราการ
12419  หญิง  27.0       สมุทรปราการ
12420   ชาย  10.0            ชลบุรี
12421   ชาย  52.0            ชลบุรี
12422   ชาย  51.0             ระยอง

[8253 rows x 3 columns]

In [39]:
this_data.dropna()
print(this_data.shape)

(12423, 3)

In [40]:
this_data.dropna(inplace=True)

In [41]:
this_data.dropna(inplace=True)
print(this_data.shape)

(8253, 3)

In [42]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data.shape

(12423, 3)

In [43]:
this_data.dropna().shape

(8253, 3)

In [44]:
this_data.dropna(subset=['age']).shape

(8656, 3)

##แทน missing ด้วยค่าที่เหมาะสม (fillna)

In [45]:
this_data = data_covid[['sex','age','province_of_onset']]

In [46]:
this_data.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [47]:
print(f'จำนวน record ก่อน drop missing ใน province {this_data.shape[0]}')
print(f'จำนวน record หลัง drop missing ใน province {this_data.dropna(subset=["province_of_onset"]).shape[0]}')

จำนวน record ก่อน drop missing ใน province 12423
จำนวน record หลัง drop missing ใน province 10432

In [48]:
this_data_updated = this_data.fillna(value={'sex':'ไม่รู้', 'age':-1, 'province_of_onset':'ไม่รู้'})
this_data_updated.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [49]:
this_data_updated[this_data_updated['sex']=='ไม่รู้']

          sex  age province_of_onset
4391   ไม่รู้ -1.0         สมุทรสาคร
4392   ไม่รู้ -1.0         สมุทรสาคร
4393   ไม่รู้ -1.0         สมุทรสาคร
4394   ไม่รู้ -1.0         สมุทรสาคร
4395   ไม่รู้ -1.0         สมุทรสาคร
...       ...  ...               ...
12405  ไม่รู้ -1.0            ไม่รู้
12406  ไม่รู้ -1.0            ไม่รู้
12407  ไม่รู้ -1.0            ไม่รู้
12408  ไม่รู้ -1.0            ไม่รู้
12409  ไม่รู้ -1.0            ไม่รู้

[2497 rows x 3 columns]

In [50]:
this_data_updated['province_of_onset']=='ไม่รู้'

0        False
1        False
2        False
3        False
4        False
         ...
12418    False
12419    False
12420    False
12421    False
12422    False
Name: province_of_onset, Length: 12423, dtype: bool

In [51]:
data_covid[this_data_updated['province_of_onset']=='ไม่รู้']

        sex   age province_of_onset
414     ชาย  29.0               NaN
529     ชาย  37.0               NaN
555    หญิง   6.0               NaN
576     ชาย   NaN               NaN
588     ชาย   NaN               NaN
...     ...   ...               ...
12405   NaN   NaN               NaN
12406   NaN   NaN               NaN
12407   NaN   NaN               NaN
12408   NaN   NaN               NaN
12409   NaN   NaN               NaN

[1991 rows x 3 columns]

In [52]:
this_data_updated_2 = this_data.fillna(value={'province_of_onset':'ไม่รู้'})

In [53]:
this_data_updated_2[this_data_updated['sex']=='ไม่รู้']

       sex  age province_of_onset
4391   NaN  NaN         สมุทรสาคร
4392   NaN  NaN         สมุทรสาคร
4393   NaN  NaN         สมุทรสาคร
4394   NaN  NaN         สมุทรสาคร
4395   NaN  NaN         สมุทรสาคร
...    ...  ...               ...
12405  NaN  NaN            ไม่รู้
12406  NaN  NaN            ไม่รู้
12407  NaN  NaN            ไม่รู้
12408  NaN  NaN            ไม่รู้
12409  NaN  NaN            ไม่รู้

[2497 rows x 3 columns]

##การวนลูป record ในตาราง (iterrows)

In [55]:
this_data = data_covid[['sex','age','province_of_onset']]

In [56]:
for each_row in this_data.iterrows():
    # print(each_row)
    # print(each_row[1])
    if (each_row[1]['age'] == 20) and (each_row[1]['province_of_onset'] == 'ขอนแก่น'):
        print(each_row)

(9334, sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object)

### การวลรูป แบบมองตารางแพนด้าส์(pandas dataframe) เป็น numpy array(.iloc)

In [66]:
for each_row in range(this_data.shape[0]):
    if (this_data.iloc[each_row,1] == 20) and (this_data.iloc[each_row,2] == 'ขอนแก่น'):                         #each_row คือ ตัวเลข
        print(each_row)
        print(this_data.iloc[each_row,:])

9334
sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object

In [67]:
print(each_row)

12422

ตัดตารางออกมาเฉพาะปี 2021 annouce_data ในปี2021 \
วนลูปหา index ของปี 2021 \
ตัดตารางมาเฉพาะ ปี 2021

In [101]:
TF=list()
for each_row in data_covid.iterrows():
    if each_row[1]['announce_date'].split('/')[2] == '2021':
        TF.append(True)
    else:
        TF.append(False)

data_covid[TF].head()

KeyError: ignored

In [97]:

for each_row in range(data_covid.shape[0]): #each_row
  x = data_covid['announce_date'][each_row].split('/')
  if (x[2]=='2021'):
   print(data_covid.iloc[each_row,:])

KeyError: ignored

In [86]:
for each_row in range(this_data.shape[0]):
    if (this_data.iloc[each_row,1] == '1/1/2021'):                       
        print(each_row)
        print(this_data.iloc[6884:,:])

In [96]:
for each_row in this_data.iterrows():
    if (each_row[1]['announce_date'] == '1/1/2021'):
        print(each_row)
        print(this_data.iloc[6884:,:])

KeyError: ignored

##function ตัวช่วยใน pandas

In [100]:
data_covid.describe()

               age
count  8656.000000
mean     38.143856
std      15.201953
min       0.100000
25%      27.000000
50%      36.000000
75%      49.000000
max      97.000000

.mean() คำนวณค่าเฉลี่ยของข้ิมูลโดยไม่สนใจ missing

In [102]:
data_covid[data_covid['sex']=='ชาย']['age'].mean()

39.55682775996335

.isnull()

In [103]:
data_covid.isnull()

         sex    age  province_of_onset
0      False  False              False
1      False  False              False
2      False  False              False
3      False  False              False
4      False  False              False
...      ...    ...                ...
12418  False  False              False
12419  False  False              False
12420  False  False              False
12421  False  False              False
12422  False  False              False

[12423 rows x 3 columns]

next \
.describe\
.mean
HW วนลูป missing .isnull\
ต่อตารางแกน X แกน y\
.groupby\
save table