<a href="https://colab.research.google.com/github/pornpailinjanjit/data_viz/blob/main/Quiz5.2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

เปรียบเทียบจำนวน request ของช่วงเวลา 11.00-11.59 กับช่วงเวลา 23.00-23.59 \
เปรียบเทียบจำนวน request ของวันจันทร์-พฤหัสบดี กับ ศุกร์ขอาทิตย์

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('search_request.csv', encoding='iso-8859-11')
data

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         Unnamed: 0                             search_id  ...      lat     long
0                 0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                 1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                 2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3                 3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4                 4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
...             ...                                   ...  ...      ...      ...
6679256     6679698  66173bc5-cfa0-47b8-9444-26a3c3c5c41d  ...  18.2913  99.4031
6679257     6679699  0da8c9d4-9f14-443e-a33c-c51f66719875  ...   18.818  98.9874
6679258     6679700  03e74930-0218-4fef-b801-213ee7d0e1c9  ...   18.818  98.9874
6679259     6679701  71929b36-19da-4adc-b2dd-659124b33430  ...   18.818  98.9874
6679260     6679702  837caf37-bfd6-4721-8755-4ebcb4bc6698  ...      NaN      NaN

[6679261 rows x 10 columns]

In [6]:
data.head

<bound method NDFrame.head of          Unnamed: 0                             search_id  ...      lat     long
0                 0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1                 1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2                 2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3                 3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4                 4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
...             ...                                   ...  ...      ...      ...
6679256     6679698  66173bc5-cfa0-47b8-9444-26a3c3c5c41d  ...  18.2913  99.4031
6679257     6679699  0da8c9d4-9f14-443e-a33c-c51f66719875  ...   18.818  98.9874
6679258     6679700  03e74930-0218-4fef-b801-213ee7d0e1c9  ...   18.818  98.9874
6679259     6679701  71929b36-19da-4adc-b2dd-659124b33430  ...   18.818  98.9874
6679260     6679702  837caf37-bfd6-4721-8755-4ebcb4bc6698  ...      NaN      NaN

[6679261 rows x 10 columns]>

In [1]:
from datetime import datetime

In [ ]:
data.columns = [i.strftime('%Y-%m-%d') if isinstance(i, datetime) else i for i in data.columns]
data

In [ ]:
from datetime import date,datetime

In [ ]:
datetime(day=25,month=3,year=2020)