<a href="https://colab.research.google.com/github/pornpailinjanjit/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data_csv = pd.read_csv('search_click.csv', encoding='iso-8859-11')
data_csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       click_timestamp  ...    ads
0              11:38.9  ...   True
1              30:51.3  ...   True
2              32:09.6  ...   True
3              00:59.8  ...   True
4              23:36.8  ...   True
...                ...  ...    ...
259879         55:39.6  ...  False
259880         44:29.4  ...  False
259881         24:07.9  ...  False
259882         52:20.2  ...  False
259883         54:00.4  ...    NaN

[259884 rows x 6 columns]

In [3]:
data_csv[data_csv['search_id']=='click_timestamp']['business_id']

Series([], Name: business_id, dtype: float64)

In [6]:
data_csv.head

<bound method NDFrame.head of        click_timestamp  ...    ads
0              11:38.9  ...   True
1              30:51.3  ...   True
2              32:09.6  ...   True
3              00:59.8  ...   True
4              23:36.8  ...   True
...                ...  ...    ...
259879         55:39.6  ...  False
259880         44:29.4  ...  False
259881         24:07.9  ...  False
259882         52:20.2  ...  False
259883         54:00.4  ...    NaN

[259884 rows x 6 columns]>

In [5]:
data_csv.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [8]:
from datetime import datetime,time

In [9]:
data_csv.iloc[0,0]

'11:38.9'

# จากไฟล์ example_timestamp.csv
เปรียบเทียบผลรวม alpha และ beta ของข้อมูล ก่อนและตั้งแต่วันที่ 2 มิถุนายน 2020

In [10]:
import pandas as pd

In [11]:
data = pd.read_csv('example_timestamp.csv', encoding='iso-8859-11')
data

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16