<a href="https://colab.research.google.com/github/pornpailinjanjit/data_viz/blob/main/Quiz5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd

In [37]:
data = pd.read_csv('search_request.csv', encoding='iso-8859-11')
data

        Unnamed: 0                             search_id  ...        lat        long
0                0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1                1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2                2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3                3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4                4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
...            ...                                   ...  ...        ...         ...
226002      226007  16e945aa-1ee0-4a76-add6-4f05223e5cc6  ...  14.997534  103.099923
226003      226008  549b9130-31de-4e9c-87b3-a8dc80876be0  ...  14.997534  103.099923
226004      226009  b7687d5a-48b5-48f4-936b-dfdff5e42672  ...  13.875843  100.411133
226005      226010  7d92e9ab-eeef-42c4-aa96-4f89254c8af0  ...  13.826410  100.626191
226006      226011  d4fabc81-f95f-4162-a68e-64530e18927c  ...        NaN         NaN

[226007 rows x 10 columns]

In [69]:
data.iloc[0,2]

Timestamp('2018-06-14 12:34:35.449000')

In [38]:
data.head

<bound method NDFrame.head of         Unnamed: 0                             search_id  ...        lat        long
0                0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1                1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2                2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3                3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4                4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
...            ...                                   ...  ...        ...         ...
226002      226007  16e945aa-1ee0-4a76-add6-4f05223e5cc6  ...  14.997534  103.099923
226003      226008  549b9130-31de-4e9c-87b3-a8dc80876be0  ...  14.997534  103.099923
226004      226009  b7687d5a-48b5-48f4-936b-dfdff5e42672  ...  13.875843  100.411133
226005      226010  7d92e9ab-eeef-42c4-aa96-4f89254c8af0  ...  13.826410  100.626191
226006      226011  d4fabc81-f95f-4162-a68e-64530e18927c  ...        NaN         NaN

[226007 rows x 10 columns]>

In [39]:
from datetime import datetime

In [40]:
data.columns = [i.strftime('%Y-%m-%d') if isinstance(i, datetime) else i for i in data.columns]
data

        Unnamed: 0                             search_id  ...        lat        long
0                0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1                1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2                2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3                3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4                4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
...            ...                                   ...  ...        ...         ...
226002      226007  16e945aa-1ee0-4a76-add6-4f05223e5cc6  ...  14.997534  103.099923
226003      226008  549b9130-31de-4e9c-87b3-a8dc80876be0  ...  14.997534  103.099923
226004      226009  b7687d5a-48b5-48f4-936b-dfdff5e42672  ...  13.875843  100.411133
226005      226010  7d92e9ab-eeef-42c4-aa96-4f89254c8af0  ...  13.826410  100.626191
226006      226011  d4fabc81-f95f-4162-a68e-64530e18927c  ...        NaN         NaN

[226007 rows x 10 columns]

In [41]:
from datetime import date,datetime

In [42]:
data.iloc[0,2]

'2018-06-14 12:34:35.449'

In [71]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226007 entries, 0 to 226006
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        226007 non-null  int64
 1   search_id         226007 non-null  object
 2   search_timestamp  226007 non-null  datetime64[ns]
 3   user_agent        226007 non-null  object
 4   q                 20038 non-null   object
 5   user_id           137446 non-null  float64
 6   session_id        226006 non-null  object
 7   number_of_result  226006 non-null  float64
 8   lat               225971 non-null  float64
 9   long              225971 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(4)
memory usage: 17.2+ MB

In [43]:
data['search_timestamp']= pd.to_datetime(data['search_timestamp'],dayfirst=True,errors ='coerce')
data

        Unnamed: 0                             search_id  ...        lat        long
0                0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1                1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2                2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3                3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4                4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
...            ...                                   ...  ...        ...         ...
226002      226007  16e945aa-1ee0-4a76-add6-4f05223e5cc6  ...  14.997534  103.099923
226003      226008  549b9130-31de-4e9c-87b3-a8dc80876be0  ...  14.997534  103.099923
226004      226009  b7687d5a-48b5-48f4-936b-dfdff5e42672  ...  13.875843  100.411133
226005      226010  7d92e9ab-eeef-42c4-aa96-4f89254c8af0  ...  13.826410  100.626191
226006      226011  d4fabc81-f95f-4162-a68e-64530e18927c  ...        NaN         NaN

[226007 rows x 10 columns]

In [53]:
data['search_timestamp'] = pd.to_datetime(data['search_timestamp'])
data

        Unnamed: 0                             search_id  ...        lat        long
0                0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1                1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2                2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3                3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4                4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
...            ...                                   ...  ...        ...         ...
226002      226007  16e945aa-1ee0-4a76-add6-4f05223e5cc6  ...  14.997534  103.099923
226003      226008  549b9130-31de-4e9c-87b3-a8dc80876be0  ...  14.997534  103.099923
226004      226009  b7687d5a-48b5-48f4-936b-dfdff5e42672  ...  13.875843  100.411133
226005      226010  7d92e9ab-eeef-42c4-aa96-4f89254c8af0  ...  13.826410  100.626191
226006      226011  d4fabc81-f95f-4162-a68e-64530e18927c  ...        NaN         NaN

[226007 rows x 10 columns]

In [45]:
A = data.iloc[:10,:]
A

   Unnamed: 0                             search_id  ...        lat        long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
5           5  4c048ac7-9fc7-49e8-9ee4-20ff755b939d  ...  12.853119  101.108515
6           6  3ecf13ba-be4d-4eb9-9374-a1cca09d1614  ...  12.451104  102.248522
7           7  a7e6b7c5-3d3c-4337-8337-d29c5346b686  ...  13.640855  100.433287
8           8  02fedb5c-c9cd-46d7-9354-7613ecb7cfdd  ...  13.720904  100.527299
9           9  e215d487-0450-4794-830a-ecfc0ab6493b  ...  13.720835  100.527152

[10 rows x 10 columns]

In [46]:
A[A['search_timestamp'].dt.dayofweek == 3] #ดึงเฉพาะวันพฤหัส

   Unnamed: 0                             search_id  ...        lat        long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405

[3 rows x 10 columns]

เปรียบเทียบจำนวน request ของช่วงเวลา 11.00-11.59 กับช่วงเวลา 23.00-23.59 \
เปรียบเทียบจำนวน request ของวันจันทร์-พฤหัสบดี กับ ศุกร์ขอาทิตย์

In [47]:
datam_w = data[data['search_timestamp'].dt.dayofweek <= 3] #วันจันทร์-พฤหัส
datam_w

        Unnamed: 0                             search_id  ...        lat        long
0                0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1                1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2                2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
19              19  5a68d9e6-3173-4e5c-9087-983c012d7a6d  ...  13.297153  100.953701
20              20  2807eb47-4bc4-445d-abae-0bb0d44867dd  ...   8.188164   98.288082
...            ...                                   ...  ...        ...         ...
226002      226007  16e945aa-1ee0-4a76-add6-4f05223e5cc6  ...  14.997534  103.099923
226003      226008  549b9130-31de-4e9c-87b3-a8dc80876be0  ...  14.997534  103.099923
226004      226009  b7687d5a-48b5-48f4-936b-dfdff5e42672  ...  13.875843  100.411133
226005      226010  7d92e9ab-eeef-42c4-aa96-4f89254c8af0  ...  13.826410  100.626191
226006      226011  d4fabc81-f95f-4162-a68e-64530e18927c  ...        NaN         NaN

[87175 rows x 10 columns]

In [48]:
dataf_S = data[data['search_timestamp'].dt.dayofweek >= 4] #ศุกร์-อาทิตย์
dataf_S

        Unnamed: 0                             search_id  ...        lat        long
3                3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4                4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
5                5  4c048ac7-9fc7-49e8-9ee4-20ff755b939d  ...  12.853119  101.108515
6                6  3ecf13ba-be4d-4eb9-9374-a1cca09d1614  ...  12.451104  102.248522
7                7  a7e6b7c5-3d3c-4337-8337-d29c5346b686  ...  13.640855  100.433287
...            ...                                   ...  ...        ...         ...
224589      224594  6e9ea367-5bcf-4dc6-9796-97e2380324b9  ...  13.737727  100.641219
224590      224595  3fdc6418-da86-45b1-b7e5-48aedbb45dad  ...  13.778541  100.538558
224591      224596  74a0199a-e2bd-4726-9ef0-746e63de4218  ...  13.745089  100.608522
224592      224597  b9706cd2-0ba1-485b-99c9-9fd860d40172  ...  35.689143  139.708885
224593      224598  36947540-8003-4e38-9f59-978db77b1f55  ...   7.881222   98.384302

[138832 rows x 10 columns]

เปรียบเทียบจำนวน request ของวันจันทร์-พฤหัสบดี กับ ศุกร์ขอาทิตย์

In [58]:
B = datam_w['Unnamed: 0'].sum() < dataf_S['Unnamed: 0'].sum()
B

True

#เปรียบเทียบจำนวน requests ของช่วงเวลา

In [73]:
day = data[data['search_timestamp'].dt.time < time(hour=12)]
day = day[day['search_timestamp'].dt.time >= time(hour=11)]
day = day.iloc[:,2].count()
day

NameError: ignored

หนูทำแล้วอันนี้ขึ้น ereor หนูนั่งแก้มาชมละนะคะ หนูส่งแค่นี้นะคะ หนูแก้ไม่ได้