<a href="https://colab.research.google.com/github/pornpailinjanjit/data_viz/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('search_request.csv', encoding='iso-8859-11')
data

        Unnamed: 0                             search_id  ...        lat        long
0                0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1                1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2                2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3                3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4                4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
...            ...                                   ...  ...        ...         ...
276822      276828  d7f9a412-83bb-455a-b5c2-d761ca15efb6  ...  13.810551  100.534466
276823      276829  06ae0d5a-76b6-45aa-b534-5d7b57685e24  ...  13.799348  100.550123
276824      276830  10415d10-c9f3-49dd-a78e-b7fbabd1eee9  ...  13.797092  100.547465
276825      276831  e193e806-491a-4ee2-bb4d-71d80a759d43  ...  13.805358  100.551727
276826      276832  9d47899b-a83c-40f9-9adc-0ba2ea1ebd40  ...        NaN         NaN

[276827 rows x 10 columns]

#เตรียมข้อมูล

### แกปลงข้อมูลบอกเวลาให้เป็นตัวแปรชนิด datetime

In [3]:
data['search_timestamp']= pd.to_datetime(data['search_timestamp'],dayfirst=True,errors ='coerce') #เปลี่ยนstring เป็นdatetime
data

        Unnamed: 0                             search_id  ...        lat        long
0                0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1                1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2                2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3                3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4                4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
...            ...                                   ...  ...        ...         ...
276822      276828  d7f9a412-83bb-455a-b5c2-d761ca15efb6  ...  13.810551  100.534466
276823      276829  06ae0d5a-76b6-45aa-b534-5d7b57685e24  ...  13.799348  100.550123
276824      276830  10415d10-c9f3-49dd-a78e-b7fbabd1eee9  ...  13.797092  100.547465
276825      276831  e193e806-491a-4ee2-bb4d-71d80a759d43  ...  13.805358  100.551727
276826      276832  9d47899b-a83c-40f9-9adc-0ba2ea1ebd40  ...        NaN         NaN

[276827 rows x 10 columns]

#Bar chart (กราฟแท่ง)
กราฟเปรียบเทียบปริมาณ

### สร้างกราฟแท่งเปรียบเทียบปริมาณ คนเข้าใช้ wed wongnai.com เพื่อค้นหาร้านอาหารในแต่ละวัน

In [15]:
plt.bar([1,2,3,4,5,6,7],[data[data['search_timestamp'].dt.dayofweek == [:,7]) #วันจันทร์

SyntaxError: ignored

In [13]:
plt.bar([1,2,3,4,5,6,7],[data[data['search_timestamp'].dt.dayofweek == 0]])

NameError: ignored

In [8]:
plt.bar([1,2,3,4,5,6,7],[A[A['search_timestamp'].dt.dayofweek == 3]])

NameError: ignored

In [7]:
A = data.iloc[:10,:]
A

   Unnamed: 0                             search_id  ...        lat        long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
5           5  4c048ac7-9fc7-49e8-9ee4-20ff755b939d  ...  12.853119  101.108515
6           6  3ecf13ba-be4d-4eb9-9374-a1cca09d1614  ...  12.451104  102.248522
7           7  a7e6b7c5-3d3c-4337-8337-d29c5346b686  ...  13.640855  100.433287
8           8  02fedb5c-c9cd-46d7-9354-7613ecb7cfdd  ...  13.720904  100.527299
9           9  e215d487-0450-4794-830a-ecfc0ab6493b  ...  13.720835  100.527152

[10 rows x 10 columns]