<a href="https://colab.research.google.com/github/pornpailinjanjit/data_viz/blob/main/%E0%B8%97%E0%B8%A7%E0%B8%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

python101

In [ ]:
time = '12:30:15'
t1 = time.split(':')
s = t1[0]
b = t1[1]
c = t1[2]
total_s = int(s)*60*60+int(b)*60+int(c)
tt_s = f'{time} = {total_s} s'
print(tt_s)

12:30:15 = 45015 s

function loop condition

In [ ]:
name = 'พรไพลิน'
surname = 'จันทร์จิตร'
ID = '613020193-8'
b= f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

```python 
     def funtion_name(_Input_) :
       do_something with _Input_ to get _Output_
       return _output
```

backtick (`)
tilde (~)
curly bracket ({})
square bracket ([])

In [ ]:
list_timez = ['12:30:15', '13:41:07', '12:53:15', '00:59:25', '11:11:11', '16:06:09']

In [ ]:
for z in list_timez :
  t1 = z.split(':')
  s = t1[0]
  b = t1[1]
  c = t1[2]
  total_s = int(s)*60*60+int(b)*60+int(c)
  t_s = f'{z} = {total_s} s'
  print(t_s)

12:30:15 = 45015 s
13:41:07 = 49267 s
12:53:15 = 46395 s
00:59:25 = 3565 s
11:11:11 = 40271 s
16:06:09 = 57969 s

In [ ]:
for i in [1,2,3] :
  print (f'this member = {i} after process = {i**2}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

In [ ]:
def grade (score) :
    if score < 0:
      print (f'คะแนน = {score} กรอก error')
    elif score < 50 :
      print (f'คะแนน = {score} ได้เกรด F')
    elif score< 55:
      print (f'คะแนน = {score} ได้เกรด D')
    elif score< 60:
      print (f'คะแนน = {score} ได้เกรด D+')
    elif score< 65:
      print (f'คะแนน = {score} ได้เกรด C')
    elif score< 70:
      print (f'คะแนน = {score} ได้เกรด C+')
    elif score< 75:
      print (f'คะแนน = {score} ได้เกรด B')
    elif score< 80:  
      print (f'คะแนน = {score} ได้เกรด B+')
    elif score< 100:  
      print (f'คะแนน = {score} ได้เกรด A')
    elif score > 100:
      print (f'คะแนน {score} = error')

pandas101

In [ ]:
def mean_age(sex,province_of_onset = 'all'):
  for i in range(len(data_covid)):
    if province_of_onset == 'all':
      if sex == data_covid['sex'][i]:
        sum_age =+ data_covid['age'][i]
        n=+1
    else:
      if sex == data_covid['sex'][i]:
        if province_of_onset == data_covid['province_of_onset'][i]:
          sum_age =+ data_covid['age'][i]
          n=+1
  return sum_age/n

In [ ]:
def SmartDict(nums,texts):
    Output = {}
    for index in range(len(nums)):
        if (nums[ind] % 2) != 0:
            Output[nums[ind]] = texts[ind]
        else:
            Output[texts[ind]] = nums[ind]
    return Output

2>จากไฟล์ wuhan_GNome.txt จงเขียนโปรแกรมเพื่ออบคำถามต่อไปนี้
- กรดอะมิโนใด (A, T, G, C)มีประมาณมากที่สุดและมีเท่าไร
- จงหา sequence ที่มีขนาด 3 และ 4 ที่เกิดขึ้นซ้ำมากที่สุด

In [ ]:
import pandas as pd

In [ ]:
DNAseq = pd.read_csv('C:\\Users\\ASUS\\Desktop\\pythonnew\\Wuhan_nCoV_GNome.txt',header = None)
DNAseq.head()

In [ ]:
def countChar(seq, character):
    charcount = 0
    for char in seq:
        if char == character:
            charcount = charcount + 1
    return charcount

In [ ]:
ANum = 0
TNum = 0
GNum = 0
CNum = 0
for row in range(DNAseq.shape[0]):
    ANum += countChar(DNAseq.iloc[row][0],'A')
    TNum += countChar(DNAseq.iloc[row][0],'T')
    GNum += countChar(DNAseq.iloc[row][0],'G')
    CNum += countChar(DNAseq.iloc[row][0],'C')
    
print(f'there are {ANum} As, {TNum} Ts, {GNum} Gs, {CNum} Cs,')

https://github.com/Krocata613020188-1/python_dataviz/blob/master/Midterm(7_02_2020).ipynb

3> จากไฟล์ data.xlsx สร้างตาราง
- ใหม่ที่มี 2 columns โดย columns แรกชื่อว่า ภาษาอีสาน และมีคำ จาก columns ภาษาอีสานเดิมแต่เปลี่ยนคำที่เป๋น'/' เป็น','และ 
 columns ที่สองชื่อว่า ภาษาไทย และมีคำ จาก columns ภาษาอีสานเดิมแต่เปลี่ยนคำที่เป๋น'/' เป็น','เช่น
    จาก สวัสดี/สุผู้สุคน/เด้อ/จ้า สวัวสดี/ทุกๆคน /นะ/คะ
    เป็น สวัสดี,สุผู้สุคน,เด้อ,จ้า สวัวสดี,ทุกๆคน ,นะ,คะ
- สร้างตาราง Dictionary โดยตารางประกอบด้วยสอง columns คือภาษาอีสานและ ภาษาไทย โดยคำใน column ภาษาอีสาน คือคำในภาษาอีสาน และ
column ภาษาไทย คือคำแปลเป็นภาษากลางของภาษาอีสานใน column แรก (ใช้คำจากตาราง data.xlsx โดยคำที่อยู่ในลำดับเดียวกันของ columns
ภาษาอีสาน และ ภาษาไทย คือคำแปลของกันและกันถ้าจำนวนของทั้งสอง coluomn เท่ากัน -ถ้าจำนวนคำระหว่างสอง columns ไม่เท่ากันให้ข้าม record นั้นไป)

In [ ]:
datatest = 'C:\\Users\\ASUS\\Desktop\\pythonnew\\data.xlsx'
data_df = pd.read_excel(datatest, sheet_name = 'v2', usecols = 'B:C',
                       skipfooter = 1)

In [ ]:
data_df.head()

In [ ]:
colnames = ['ภาษาอีสาน' , 'ภาษาไทย']
Datatotal = pd.DataFrame.from_records([],columns = colnames)
for sn in range(32):
    df = pd.read_excel('C:\\Users\\ASUS\\Desktop\\pythonnew\\data.xlsx', sheet_name = sn, usecols = 'B:C', skipfooter = 1)
    Datatotal = pd.concat([Datatotal,df], axis = 0, ignore_index = True)

In [ ]:
Datatotal.head()

In [ ]:
Datatotal.shape

In [ ]:
Datatotal.iloc[3]['ภาษาอีสาน'].replace('/',',')